## an exploration of members of US congress

- average age over time
- net worth over time
- district lines
- voting history

In [1]:
# imports (maybe do imports in other files? do i need to?)
# put checks perhaps
import numpy as np
import pandas as pd
import yaml

from datetime import datetime

import matplotlib

In [2]:
def load_legislators(which='all',filetype='yaml'):
    
    
    
    legislator_cols = [
        
        'first_name',
        'middle_name',
        'last_name',
        'birthday',
        'gender',
        'term_start',
        'term_end',
        
    ]
    leg_terms = [
        'first_name',   # names are for matching across dfs
        'middle_name',
        'last_name',
        'birthday',     # 
        'type',         # rep | sen
        'party',
        'term_start',
        'term_end',
        'state',
        'district',
        # 'sen_details',  # senate term?
    ]
    
    
    
    
    
    
    
    
    
    col_names = [
        
    ]
    
    
    
    
    df = pd.DataFrame
    
    
    return df

In [3]:
# v1; use csv directly
current_fp = 'data/legislators-current.yaml'

with open(current_fp) as f:
    yaml_contents = yaml.load(f, Loader=yaml.SafeLoader)
    
yaml_df = pd.json_normalize(yaml_contents)
yaml_df.head()

,terms,id.bioguide,id.thomas,id.lis,id.govtrack,id.opensecrets,id.votesmart,id.fec,id.cspan,id.wikipedia,...,name.first,name.last,name.official_full,bio.birthday,bio.gender,name.middle,name.nickname,name.suffix,leadership_roles,family
0,"[{'type': 'rep', 'start': '1993-01-05', 'end':...",B000944,00136,S307,400050,N00003535,27018.0,"[H2OH13033, S6OH00163]",5051.0,Sherrod Brown,...,Sherrod,Brown,Sherrod Brown,1952-11-09,M,NaN,NaN,NaN,NaN,NaN
1,"[{'type': 'rep', 'start': '1993-01-05', 'end':...",C000127,00172,S275,300018,N00007836,27122.0,"[S8WA00194, H2WA01054]",26137.0,Maria Cantwell,...,Maria,Cantwell,Maria Cantwell,1958-10-13,F,NaN,NaN,NaN,NaN,NaN
2,"[{'type': 'rep', 'start': '1987-01-06', 'end':...",C000141,00174,S308,400064,N00001955,26888.0,"[H6MD03177, S6MD03177]",4004.0,Ben Cardin,...,Benjamin,Cardin,Benjamin L. Cardin,1943-10-05,M,L.,NaN,NaN,NaN,NaN
3,"[{'type': 'rep', 'start': '1983-01-03', 'end':...",C000174,00179,S277,300019,N00012508,22421.0,[S8DE00079],663.0,Tom Carper,...,Thomas,Carper,Thomas R. Carper,1947-01-23,M,Richard,NaN,NaN,NaN,NaN
4,"[{'type': 'sen', 'start': '2007-01-04', 'end':...",C001070,01828,S309,412246,N00027503,2541.0,[S6PA00217],47036.0,Bob Casey Jr.,...,Robert,Casey,"Robert P. Casey, Jr.",1960-04-13,M,P.,Bob,Jr.,NaN,NaN

In [4]:
yaml_df['bio.birthday'][0]

'1952-11-09'

In [5]:
yaml_df.columns.tolist()

['terms',
 'id.bioguide',
 'id.thomas',
 'id.lis',
 'id.govtrack',
 'id.opensecrets',
 'id.votesmart',
 'id.fec',
 'id.cspan',
 'id.wikipedia',
 'id.house_history',
 'id.ballotpedia',
 'id.maplight',
 'id.icpsr',
 'id.wikidata',
 'id.google_entity_id',
 'name.first',
 'name.last',
 'name.official_full',
 'bio.birthday',
 'bio.gender',
 'name.middle',
 'name.nickname',
 'name.suffix',
 'leadership_roles',
 'family']

In [6]:
def age_helper(birthday_str, current_year):
    '''
    age as of just past election; december 1 of that year.
    
    birthday
        str
        YYYY-MM-DD
    
    '''
    date_format = "%Y-%m-%d"
    
    current_date_str = str(current_year) + "-12-01"
    
    # Convert string dates to datetime objects
    current_date = datetime.strptime(current_date_str, date_format)
    birthday = datetime.strptime(birthday_str, date_format)
    
    # Calculate the age
    age = current_date.year - birthday.year
    
    # Check if birthday occurs before dec 1
    if current_date.month < birthday.month or (current_date.month == birthday.month and current_date.day < birthday.day):
        age -= 1
    
    return age

def average_age(df, year_range, filters=[]):
    '''
    for a given year, return average age of everyone that fits the filters
    
    this function is for .apply(average_age) to the df????? does that work?
    
    
    
    df; use the yaml directly????
    
    year_range; list of strings in YYYY-MM-DD
    
    filters; whatever else
    '''
    
    for y in year_range:
        # get list of senators / reps for this year
        
        
        
        # convert to df
        
        
        
        
        # get lists of data for this year
        age_dict["year"].extend([])
        
        
        # then turn them all into a df at the end
        
        
    # age_df = pd.DataFrame.from_dict(
        
    # )
    
    
    
    
    # filter out anyone not in congress that year
    
    
        # only wanted columns
        age_cols = [
            'name.first',
            'name.middle',
            'name.last',
            'bio.birthday',
            'bio.gender',
            # 'party' # get from term somehow; party at time !! sometimes they change teams
        ]
        age_df = df[age_cols].copy() # deep copy???? does it matter?? I load the data each time; 
        # is that needed? wasteful?
        
        
        age_df['current_age'] = df['bio.birthday'].apply(age_helper, current_year = y)
        
        
        return age_df
    

ages_df = average_age(
    yaml_df,
    [2024],
    []
)

# for year in range(2020, 2024, 1):
#     # year | age

NameError: name 'age_dict' is not defined

In [7]:
yaml_df[['name.first', 'name.last', 'bio.birthday']]

    name.first   name.last bio.birthday
0      Sherrod       Brown   1952-11-09
1        Maria    Cantwell   1958-10-13
2     Benjamin      Cardin   1943-10-05
3       Thomas      Carper   1947-01-23
4       Robert       Casey   1960-04-13
..         ...         ...          ...
534       Greg       Lopez   1964-06-07
535     George       Helmy   1979-10-27
536   LaMonica      McIver   1986-06-20
537       Tony        Wied   1976-05-03
538      Erica  Lee Carter   1980-02-02

[539 rows x 3 columns]

In [ ]:


current_fp = 'data/legislators-current.yaml'
historic_fp = 'data/legislators-historical.yaml'

with open(current_fp, encoding='utf-8') as f:
    current_yaml = yaml.load(f, Loader=yaml.SafeLoader)
    
    
    
with open(historic_fp, encoding='utf-8') as f:
    historic_yaml = yaml.load(f, Loader=yaml.SafeLoader, allow_unicode=True)
    
    
current_yaml

TypeError: load() got an unexpected keyword argument 'allow_unicode'

In [9]:
yaml_df.columns.tolist()

['terms',
 'id.bioguide',
 'id.thomas',
 'id.lis',
 'id.govtrack',
 'id.opensecrets',
 'id.votesmart',
 'id.fec',
 'id.cspan',
 'id.wikipedia',
 'id.house_history',
 'id.ballotpedia',
 'id.maplight',
 'id.icpsr',
 'id.wikidata',
 'id.google_entity_id',
 'name.first',
 'name.last',
 'name.official_full',
 'bio.birthday',
 'bio.gender',
 'name.middle',
 'name.nickname',
 'name.suffix',
 'leadership_roles',
 'family']